.section-row {


}

//CLIENTES ROW
.section-row.row-clientes{

    padding-top:100px;
    padding-bottom:130px;
    .container{
        position:relative;
    }

    .flex-direction-nav{

        a:before{
            content:none;
        }
        a{
            width:20px;
            height:31px;
            text-indent: 200px;
            opacity: 1;
        }
        .flex-prev{
            left:-40px;
            background-image: url(../images/img-arrow-left.png);
        }
        .flex-next{
            right:-40px;
            background-image: url(../images/img-arrow-right.png);
        }
    }

    .slides{

        li{
            height:106px;
            text-align: center;
            vertical-align: middle;
            a{
                display:block;
                height: 100%;
                vertical-align: middle;
            }
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }
    }
}


//NOSOTROS ROW
.section-row.row-nosotros{

    padding-bottom:30px;
    .container{
        position:relative;
    }

    .col-xs-12{

        h3{
            font-size:20px;
            line-height: 30px;
            color:#FFF;
            font-family: $lato;
            font-weight: 900;
            padding:0 0 10px;
            margin-top: 5px;
        }
        p{
            font-size:16px;
            line-height: 24px;
            color:#FFF;
            font-family: $lato;
            font-weight: 300;
            padding:0 0 30px;
        }
        .images{
            .item-multimedia{
                padding:0 0 20px;
                width:100%;
            }
            img{
                width:100%;
            }
        }
    }

}

//SERVICIOS ROW
.section-row.row-servicios{

    padding-bottom:160px;
    .container{
        position:relative;
    }

    .item{
        width:20%;
        float:left;
        padding:0 10px 30px;
        @media only screen and (max-width: 1000px) {
            width:50%;
        }
        @media only screen and (max-width: 500px) {
            width:100%;
        }
        h3{
            font-size:20px;
            line-height: 30px;
            color:#FFF;
            font-family: $lato;
            font-weight: 500;
            padding:0 0 0 39px;
            margin-top: 5px;
            height:40px;
            line-height:40px;
            background-repeat:no-repeat;
            background-size: contain;

            &.cat-contenidos{
                color:#ebc852;
                background-image: url(../images/cat-contenidos.png);
            }
            &.cat-diseno{
                color:#928ac1;
                background-image: url(../images/cat-diseno.png);
            }
            &.cat-creatividad{
                color:#cc6450;
                background-image: url(../images/cat-creatividad.png);
            }
            &.cat-eventos{
                color:#96c5e9;
                background-image: url(../images/cat-eventos.png);
            }
            &.cat-experiencias{
                color:#31c45e;
                background-image: url(../images/cat-experiencias.png);
            }
        }
        ul{
            margin:0;
            padding:0;
            li{
                font-size:14px;
                line-height: 16px;
                color:#FFF;
                font-family: $lato;
                font-weight: 300;
                padding:0 0 2px;
                list-style: none;
                @media only screen and (max-width: 1000px) {
                    font-size:16px;
                    line-height: 18px;
                }
            }
        }
    }
}

//FICHA ROW
.section-row.row-ficha{

    padding-bottom:130px;
    .container{
        position:relative;
    }
    a.arrow{
        position:absolute;
        top:20px;
        width:20px;
        height:31px;
        text-indent: -900px;
        overflow: hidden;
        background:url(../images/img-arrow-left.png) center center no-repeat;
        &.arrow-left{
            left:-40px;
            background-image: url(../images/img-arrow-left.png);
        }
        &.arrow-right{
            right:-40px;
            background-image: url(../images/img-arrow-right.png);
        }
    }

    .col-xs-12{

        h3{
            font-size:20px;
            line-height: 30px;
            color:#FFF;
            font-family: $lato;
            font-weight: 900;
            padding:0 0 10px;
            margin-top: 11px;
        }
        .icons{

            margin:0 0 40px;

            .cat-icon{

                float:left;
                height:26px;
                margin:0 14px 0 0;
                padding:0 0 0 20px;
                background-repeat:no-repeat;
                background-size: contain;
                font-size:16px;
                line-height: 16px;
                color:#FFF;
                font-family: $lato;
                font-weight: 200;

                &.cat-contenidos{
                    background-image: url(../images/cat-contenidos.png);
                }
                &.cat-diseno{
                    background-image: url(../images/cat-diseno.png);
                }
                &.cat-creatividad{
                    background-image: url(../images/cat-creatividad.png);
                }
                &.cat-eventos{
                    background-image: url(../images/cat-eventos.png);
                }
                &.cat-experiencias{
                    background-image: url(../images/cat-experiencias.png);
                }
            }

        }
        p{
            font-size:16px;
            line-height: 24px;
            color:#FFF;
            font-family: $lato;
            font-weight: 300;
            padding:0 0 20px;
        }
        .images{
            iframe.item-multimedia{
                height:660px;
            }
            .item-multimedia{
                padding:0 0 20px;
            }
            img{
                width:100%;
            }
        }
    }

}

//SLIDER ROW
.section-row.row-slider{
    overflow: hidden;

    .flex-viewport{
        height:540px !important;
        @media only screen and (max-width: 1100px) {
            height:400px !important;
        }
        @media only screen and (max-width: 600px) {
            height:300px !important;
        }
    }

    .flex-direction-nav{

        a:before{
            content:none;
        }
        a{
            width:20px;
            height:31px;
            text-indent: 200px;
            opacity: 1;
        }
        .flex-prev{
            left:-30px;
            background-image: url(../images/img-arrow-left.png);
        }
        .flex-next{
            right:-30px;
            background-image: url(../images/img-arrow-right.png);
        }

        @media only screen and (max-width: 1100px) {
            .flex-prev{
                left:0px;
            }
            .flex-next{
                right:0px;
            }
        }
    }

    .flexslider{
        border:0;
        background: none;
        margin:0;
    }
    .flex-control-nav{

        bottom:110px;

        li{
            margin:0;
            a{
                display:inline-block;
                list-style:none;
                text-indent: -900px;
                overflow: hidden;
                width:17px;
                height:17px;
                margin:0 3px;
                cursor:pointer;
                background:url(../images/img-dot.png) no-repeat;
                &.flex-active{
                    border-radius:17px;
                    background:#D6D6D6;
                }
            }
        }
    }

    .inner-slide{
        position:relative;
    }

    .overlay{
        background:rgba(40,40,40,0.6);
        position:absolute;
        bottom:100px;
        left:0;
        width:100%;
        margin:0;

        @media only screen and (max-width: 1100px) {
            bottom:50px;
        }

        .inner{
            position:relative;
        }

        .type{
            display:none;
            position:absolute;
            top:-82px;
            left:34px;
            width:61px;
            height:61px;
            background:url(../images/img-pic.png) center center no-repeat;
            &.video{
                background-image:url(../images/img-vid.png);
            }
            &.imagen{}
        }
        .text{
            p{
                font-size: 20px;
                line-height:32px;
                font-weight: 700;
                color:#FFF;
                margin:0;
                padding:20px 84px 20px 34px;
            }
            .icons{
                position:absolute;
                top:22px;
                right:40px;
                .cat-icon{
                    float:left;
                    width:20px;
                    height:32px;
                    margin:0 0 0 10px;
                    background-repeat:no-repeat;
                    background-size: contain;
                    &.cat-contenidos{
                        background-image: url(../images/cat-contenidos.png);
                    }
                    &.cat-diseno{
                        background-image: url(../images/cat-diseno.png);
                    }
                    &.cat-creatividad{
                        background-image: url(../images/cat-creatividad.png);
                    }
                    &.cat-eventos{
                        background-image: url(../images/cat-eventos.png);
                    }
                    &.cat-experiencias{
                        background-image: url(../images/cat-experiencias.png);
                    }
                }
            }
        }
    }
    .multimedia{
        .super-overlay{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            margin:0;
            height:100%;
        }
        height:640px;
        background-size:cover;
        @media only screen and (max-width: 1100px) {
            height:450px;
        }
        @media only screen and (max-width: 600px) {
            height:350px;
        }
        img{
            height: 100%;
        }
    }
}


//PROYCTOS ROW
.section-row.row-proyectos{

    .container{
        padding:10px 16px 140px;
    }
    .col-xs-4{
        position: relative;
        padding:0 10px;
    }
    .proyecto{
        display:block;
        margin: 14px 0px;
        position: relative;
    }
    .type{
        display:none;
        position:absolute;
        top:20px;
        left:20px;
        width:45px;
        height:45px;
        background:url(../images/img-pic.png) center center no-repeat;
        background-size: contain;
        &.video{
            background-image:url(../images/img-vid.png);
        }
        &.imagen{
            background-image:url(../images/img-pic.png);
        }
    }
    .overlay{
        background:rgba(140, 140, 140, 0.3);
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        .inner{
            position:relative;
        }
        .text{
            p{
                font-size: 16px;
                line-height:20px;
                font-weight: 700;
                color:#FFF;
                margin:0;
                padding:20px 46px 18px 16px;
            }
            .icons{
                position:absolute;
                top:0px;
                right:15px;
                height: 100%;
                .cat-icon{
                    float:left;
                    width:16px;
                    height:100%;
                    margin:0 0 0 8px;
                    background-repeat:no-repeat;
                    background-size: contain;
                    background-position: 0 center;
                    &.cat-contenidos{
                        background-image: url(../images/cat-contenidos.png);
                    }
                    &.cat-diseno{
                        background-image: url(../images/cat-diseno.png);
                    }
                    &.cat-creatividad{
                        background-image: url(../images/cat-creatividad.png);
                    }
                    &.cat-eventos{
                        background-image: url(../images/cat-eventos.png);
                    }
                    &.cat-experiencias{
                        background-image: url(../images/cat-experiencias.png);
                    }
                }
            }
        }
    }
    .multimedia{
        img{
            width:100%;
        }
    }
}
