extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //CONTACTO
    .section-row.row-clientes
        .container
        
            div.slider-clientes
                
                ul.slides
                    
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/abinbev.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/arcor.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/axion.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/brahma.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/brf.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/calsa.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/corona.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/eco.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/fiat.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/google.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/nespresso.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/noblesa.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/patagonia.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/pepsi.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/purina.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/stella.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/youtube.png")
                    li
                        a(href="#", target="_blank")
                            .helper
                            img(src="images/clientes/ar/brahma2.png")
