extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //FICHA DE PROYECTO
    .section-row.row-ficha
        
        .container
            
            a.arrow.arrow-left(href="#") Left
            a.arrow.arrow-right(href="#") Right
            
            .row
                
                .col-xs-12
                    
                    h3 Stella Artois Pic Nic
                    
                    .icons.clearfix
                        .cat-icon.cat-diseno
                            | diseño
                        .cat-icon.cat-eventos
                            | eventos
                        .cat-icon.cat-creatividad
                            | creatividad
                        .cat-icon.cat-contenidos
                            | contenidos
                    
                    p AB InBev, la cervecera mundial líder, presenta cada año lo mejor por venir. Más de 30 marcas forman parte de esta locura que montamos. Despliegue de shows, tecnología y mucha creatividad para recibir a las más de 600 personas que vuelven hace 16 años para que los sorprendamos una vez más.
                    
                    .images
                        
                        img.item-multimedia(src="images/dummie/img-ficha1.jpg")
                            
                        img.item-multimedia(src="images/dummie/img-ficha2.jpg")
                            
                        img.item-multimedia(src="images/dummie/img-ficha3.jpg")
                    
                    
                    
                
