extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //SLIDER
    .section-row.row-slider
        .container
            
            div.flexslider
                
                ul.slides
                    
                    //li
                        iframe(src="https://player.vimeo.com/video/271081511?api=1&title=1&portrait=0&transparent=0&autoplay=1&byline=1&player_id=player_1", id="player_1",width="100%", height="641", frameborder="0", allowfullscreen)        
                                
                    li
                        
                        div.inner-slide
                        
                            .overlay
                                
                                .inner
                                    
                                    .text
                                        p Producimos Comediante! / Nueva serie web
                                        .icons
                                            .cat-icon.cat-contenidos
                                            .cat-icon.cat-eventos
                                
                                    .type.pic
                            
                            .multimedia(style="background-image:url(images/dummie/img-home.jpg);")
                                
                    li
                        
                        div.inner-slide
                        
                            .overlay
                                
                                .inner
                                    
                                    .text
                                        p Producimos Comediante! / Nueva serie web
                                        .icons
                                            .cat-icon.cat-contenidos
                                
                                    .type.vid
                            
                            .multimedia(style="background-image:url(images/dummie/img-ficha2.jpg);")
                                iframe(src="https://player.vimeo.com/video/271081511?api=1&title=0&portrait=0&transparent=0&autoplay=1&byline=0&player_id=player_11", id="player_11",width="100%", height="100%", frameborder="0", allowfullscreen)
                        
                
    //PROYECTOS
    .section-row.row-proyectos
        .container
            .row
                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.pic
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-diseno
                        .multimedia
                            img(src="images/dummie/img-prod1.jpg")
                                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.vid
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-creatividad
                        .multimedia
                            img(src="images/dummie/img-prod2.jpg")
                                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.vid
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-diseno
                        .multimedia
                            img(src="images/dummie/img-prod1.jpg")
                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.pic
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-diseno
                                        .cat-icon.cat-eventos
                        .multimedia
                            img(src="images/dummie/img-prod1.jpg")
                                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.vid
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-creatividad
                        .multimedia
                            img(src="images/dummie/img-prod2.jpg")
                                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.pic
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                        .multimedia
                            img(src="images/dummie/img-prod2.jpg")
                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.vid
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-diseno
                        .multimedia
                            img(src="images/dummie/img-prod1.jpg")
                                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.vid
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-creatividad
                        .multimedia
                            img(src="images/dummie/img-prod1.jpg")
                                
                .col-xs-12.col-sm-6.col-md-4
                    .proyecto
                        .type.pic
                        .overlay
                            .inner
                                .text
                                    p Fiesta de disfraces <br> BRAHMA
                                    .icons
                                        .cat-icon.cat-contenidos
                                        .cat-icon.cat-diseno
                        .multimedia
                            img(src="images/dummie/img-prod1.jpg")
                
