// *************************************
//
//   Navbar
//   -> Bootstrap Navbar Overrides
//
// *************************************


body.open-mobile-menu{

    overflow: hidden;

}

nav{


    padding:18px 0 0;

    .container{
        height:224px;
        position:relative;
        @media only screen and (max-width: 770px) {
            height:260px;
        }
        @media only screen and (max-width: 570px) {
            height:230px;
        }
    }

    ul{
        padding:0;
    }

    h1{
        float:left;
        position: relative;
        top: 73px;
        margin:0;
        a{
            img{

            }
        }
    }

    .top-links{

        position: absolute;
        margin-top: 3px;
        right: 15px;

        ul.redes{
            float:right;
            padding-top:22px;
            text-align: center;
            li{
                list-style: none;
                display:inline-block;
                margin-left:1px;
                a{
                    background:url(../images/redes.png) no-repeat;
                    height:34px;
                    width:34px;
                    display:block;
                }
                &.facebook a{
                    background-position: 0px 0px;
                    &:hover{
                        background-position: 0 -38px;
                    }
                }
                &.instagram a{
                    background-position: -38px 0px;
                    &:hover{
                        background-position: -38px -38px;
                    }
                }
                &.youtube a{
                    background-position: -76px 0px;
                    &:hover{
                        background-position: -76px -38px;
                    }
                }
                &.vimeo a{
                    background-position: -114px 0px;
                    &:hover{
                        background-position: -114px -38px;
                    }
                }
            }
        }

        ul.pais{
            padding-left:28px;
            float:right;
            li{
                list-style: none;
                display:inline-block;
                margin-left:1px;
                span{
                    text-align: center;
                    display:block;
                    width:100%;
                    font-family:$lato;
                    font-size:19px;
                    line-height: 22px;
                    font-weight: 300;
                    color:#aeadb3;
                    background:none;
                }
                &.active{
                    span{
                        color:#FFFFFF;
                    }
                }
                a{
                    background:url(../images/paises.png) no-repeat;
                    height:34px;
                    width:34px;
                    display:block;
                }
                &.ar a{
                    background-position: 0px -36px;
                }
                &.ar.activo a{
                        background-position: 0 0px;
                }
                &.py a{
                    background-position: -37px -36px;
                }
                &.py.activo a{
                    background-position: -37px -0px;
                }

            }
        }
    }

    ul.nav{
        position:absolute;
        bottom:54px;
        right:0;
        text-align: center;
        padding:0;
        margin:0;
        transition: 0.4s;
        opacity: 1;
        @media only screen and (max-width: 770px) {
            bottom:24px;
        }
        @media only screen and (max-width: 570px) {
            display:none;
            opacity: 0;
        }
        li{
            display:inline-block;
            text-transform: uppercase;
            a{
                padding-top:0;
                padding-bottom:0;
                font-family:$lato;
                font-size:19px;
                line-height: 20px;
                font-weight: 300;
                color:#aeadb3;
                background:none;
                &:hover, &.active{
                    color:#FFFFFF;
                    background:none;
                }
            }
        }

        @media only screen and (max-width: 570px) {

            &.open{
                display:block !important;
                position:fixed;
                top: 210px;
                left: 0;
                bottom: auto;
                width: 100%;
                height: 100%;
                background: #000;
                z-index: 100;
                padding-top:40px;
                opacity: 1;
                li{
                    width:100%;
                    float:left;
                    padding:10px 0;
                    a{
                        font-size:24px;
                        line-height: 40px;
                        color:#FFF;
                        padding:10px 0;
                    }
                }
            }

        }
    }

    .mobile-menu-icon{

        display: none;
        cursor: pointer;
        position: absolute;
        top: 116px;
        right: 20px;

        @media only screen and (max-width: 570px) {
            display:inline-block;
        }

        .bar1, .bar2, .bar3 {
            width: 45px;
            height: 6px;
            background-color: #FFF;
            margin: 10px 0;
            transition: 0.4s;
        }

        &.change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        &.change .bar2 {opacity: 0;}

        &.change .bar3 {
            -webkit-transform: rotate(45deg) translate(-17px, -13px);
            transform: rotate(45deg) translate(-17px, -13px);
        }

    }

}
