footer
    .container
        .row
        
            .col-xs-12.col-sm-5.col-md-4
                h4 EN ARGENTINA
                .informacion
                    p Jufre 1345
                    p CABA, Buenos Aires
                    p Argentina
                    p CP: 1429
                    p TE +54 4566-8988 
                    p mail@magnetica.com.ar
            
            .col-xs-0.col-sm-1.col-md-1.sep
                    
            .col-xs-12.col-sm-5.col-md-4
                h4 EN PARAGUAY
                .informacion
                    p José Antonio Cabrera 1345
                    p Asunción
                    p Paraguay
                    p CP: 1429
                    p TE +53 4566-8988 
                    p mail@magnetica.com.py

    .container-fluid.bottom
        a.bottom-link(href="#")

script(src='js/vendor.js')
script(src='js/' + js_app)
