nav
    .container
        
        h1
            a
                img(src="images/logo-header.png")
                
        
        .top-links.clearfix
            ul.pais
                li.ar
                    span .AR
                    a(href="#")
                li.py
                    span .PY
                    a(href="#")
            ul.redes
                li.facebook
                    a(href="#")
                li.instagram
                    a(href="#")
                li.youtube
                    a(href="#")
                li.vimeo
                    a(href="#")
                        
            
        ul.nav
            li
                a(href="index.html") Trabajos
            li
                a(href="nosotros.html") Nosotros
            li
                a(href="contacto.html") Contacto
            li
                a(href="clientes.html") Clientes
            
            
